/site/app/node_modules
/server/.vs
/server/Meatbar.Api/bin/Debug
/server/Meatbar.Api/obj
/site/app/.env.local
server/Meatbar.Api/.config/dotnet-tools.json
server/Meatbar.Api/bin/Release/netcoreapp3.1/appsettings.Development.json
server/Meatbar.Api/bin/Release/netcoreapp3.1/appsettings.json
server/Meatbar.Api/bin/Release/netcoreapp3.1/Meatbar.Api.deps.json
server/Meatbar.Api/bin/Release/netcoreapp3.1/Meatbar.Api.dll
server/Meatbar.Api/bin/Release/netcoreapp3.1/Meatbar.Api.exe
server/Meatbar.Api/bin/Release/netcoreapp3.1/Meatbar.Api.pdb
server/Meatbar.Api/bin/Release/netcoreapp3.1/Meatbar.Api.runtimeconfig.dev.json
server/Meatbar.Api/bin/Release/netcoreapp3.1/Meatbar.Api.runtimeconfig.json
server/Meatbar.Api/bin/Release/netcoreapp3.1/Properties/launchSettings.json
server/Meatbar.Api/bin/Release/netcoreapp3.1/publish/appsettings.Development.json
server/Meatbar.Api/bin/Release/netcoreapp3.1/publish/appsettings.json
server/Meatbar.Api/bin/Release/netcoreapp3.1/publish/Meatbar.Api.deps.json
server/Meatbar.Api/bin/Release/netcoreapp3.1/publish/Meatbar.Api.dll
server/Meatbar.Api/bin/Release/netcoreapp3.1/publish/Meatbar.Api.exe
server/Meatbar.Api/bin/Release/netcoreapp3.1/publish/Meatbar.Api.pdb
server/Meatbar.Api/bin/Release/netcoreapp3.1/publish/Meatbar.Api.runtimeconfig.json
server/Meatbar.Api/bin/Release/netcoreapp3.1/publish/web.config
server/Meatbar.Api/Properties/PublishProfiles/FolderProfile.pubxml
server/Meatbar.Api/Properties/PublishProfiles/FolderProfile.pubxml.user
server/Meatbar.Api/Meatbar.Api.csproj.user
