.flex {
    display: flex;
}

.pad-10 {
    padding: 10px;
}


.italic {
    font-style: italic;
}

/*Title Component*/
.title {
    display: flex;
    align-items: baseline;
}

.sub-title {
    margin-left: 6px;
    font-size: 18px;
    color: #9b9fa3;
}

/*Table Component*/
.table-wrapper {
    border: 1px solid #f5f5f5;
    box-shadow: 1px 1px #d9dbda;
    border-radius: 5px;
}

#table-title {
    font-size: 15px;
    font-style: bold;
    font-weight: bold;
    background: #f5f5f5;
    padding: 10px;
}